html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
}

.pure-menu-heading {
    font-weight: 300;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
