body {
    overflow-x: hidden;
}

#container {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-sizer {
    height: 0;
}

#loading {
    background: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.8);
    display: table;
    height: 64px;
    left: 50%;
    margin: -64px 0 0 -64px;
    opacity: 1;
    position: fixed;
    top: 50%;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    width: 128px;
    padding: 0.5em;
    z-index: 999999999999999;
}

#loading p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* Start: Recommended Isotope styles */

/**** clear fix ****/
.isotope:after {
    content: '';
    display: block;
    clear: both;
}

/* End: Recommended Isotope styles */
