@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);

body {
    margin: 0px;
    min-height: 100%;
}

header {
    background: linear-gradient(rgba(60, 60, 60, 0.7) 0%, rgba(30, 30, 30, 0.9) 95%);
    /*bottom: 0;*/
    height: 75px;
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    box-shadow:0 3px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;

    transition: top 0.7s ease-in-out;
}

.nav-up {
    top: -75px;
}

.details {
    width: 30%;
    float: left;
}

.graphics {
    width: 65%;
    float: left;
}

img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 30px #000;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #efefef;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #efefef;
}

a:hover {
    color: rgb(148, 53, 54);
}

.full-name {
    color: #888;
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

.section {
    text-align:center;
}
